.baseButton {
  border: 2px solid transparent;
  background-color: transparent;
  padding: 5px 7px;
  color: var(--white);
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 500ms ease;
}

.baseButton.primary {
  border-color: #09f;
}

.baseButton.primary:hover {
  border-color: #0b85d6;
}

.baseButton.primary:focus {
  border-color: #0b85d6;
  color: #0b85d6;
}

.baseButton.secondary {
  border-color: transparent;
  background-color: var(--background-button-secondary);
}

.baseButton.secondary:hover {
  background-color: var(--background-color-black-hover);
}

.baseButton.secondary:focus {
}

.baseButton.tertiary {
  border-color: transparent;
  background-color: var(--background-button-tertiary);
}

.baseButton.tertiary:hover {
  background-color: var(--background-color-stroke-transparent);
}

.baseButton.tertiary:focus {
}

.baseButton.danger {
  border-color: #960a0a;
  color: #df1212;
}

.baseButton.danger:hover {
  border-color: #5e0a0a;
  color: #df1212;
}

.baseButton.danger:focus {
  border-color: #960a0a;
  color: #960a0a;
}
