.formNote {
  position: relative;
  width: 80%;
}

.inputNote {
  width: 100%;
  font-size: large;
  height: 50px;
  margin-right: 10px;
}

.spinner {
  position: absolute;
  right: 10px;
  top: 20%;
}

.buttonNoteSave {
  padding-left: 20px;
  padding-right: 20px;
}

.titleNotesEmpty {
  color: #919191;
}

.article {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
}
